.p3-text-image.image_right {
  flex-direction: row-reverse;
}

.p3-text-image_supertitle {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
}

.p3-text-image_title {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.p3-text-image_desc {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  max-width: 450px;
}

.p3-text-image_desc > *:last-child {
  margin-bottom: 0;
}

.p3-text-image_cta {
  display: flex;
  align-items: center;
}

.p3-text-image_cta a {
  color: #63DA7B;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.p3-text-image_cta a svg {
  transition: 0.1s ease-in;
  margin-left: 5px;
}

.p3-text-image_cta:hover a svg {
  transform: translateX(50%);
}

.p3-text-image_content {
  padding-right: calc(var(--bs-gutter-x)*.5);
  padding-left: 35px;
}

.p3-text-image.image_right .p3-text-image_content {
  padding-right: 35px;
  padding-left: calc(var(--bs-gutter-x)*.5);
}
.row{
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 110px;
}

@media only screen and (max-width: 640px)  {
  .p3-text-image_content {
    padding-left: 0;
  }
  .row{
  display:block;
}
}
