/* Text Section */
.cam-aff {
  max-width: 1084px;
  margin: auto;
}
.cam-ine-1 {
  display: flex;
  gap: 110px;
  max-width: 1200px;
  margin: auto;
  padding: 0px 20px;
  flex-direction:row;
}
.cam-ine-2 {
  display: flex;
  gap: 110px;
  max-width: 1200px;
  margin: auto;
  padding: 0px 20px;
  flex-direction:row-reverse;
}
.cam_ine_align-1 {
  align-items:center;
}
.cam_ine_align-2 {
  align-items:flex-start;
}
.cam-tsf span {
  font-size: 18px;
  color: #4d463f;
  font-weight:475;
}
.cam-tsf h2 {
  font-size: 40px;
  margin-bottom: 10px;
  line-height: 40px;
  padding-top: 10px;
}
.cam-tsf p {
  color: #4d463f;
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight:475;
}
.dec-btn {
  border-radius: 4px;
  box-shadow: 0 5px 15px 0 rgba(37, 44, 97, 0.15), 0 2px 4px 0 rgba(136, 144, 194, 0.2);
}
.p3-learn__cta-btn-1{
  border-radius: 4px !important;
  box-shadow: 0 5px 15px 0 rgba(37, 44, 97, 0.15), 0 2px 4px 0 rgba(136, 144, 194, 0.2) !important;
  background-color: #fd560a !important;
  font-size:14px !important;
  font-weight:600 !important;
  color:#fff !important;
  border:none !important;
  padding: 12.5px 36px !important;
  /*   transition: all .4s ease-in-out; */
}
.p3-learn__cta-btn-2{
  border-radius: 4px !important;
  box-shadow: 0 5px 15px 0 rgba(37, 44, 97, 0.15), 0 2px 4px 0 rgba(136, 144, 194, 0.2) !important;
  background-color: #fdb700 !important;
  font-size:14px !important;
  font-weight:600 !important;
  color:#000 !important;
  border:none !important;
  padding: 12.5px 36px !important;
  /*   transition: all .4s ease-in-out; */
}
.p3-learn__cta-btn-3{
  border: none!important;
  border-radius: 4px!important;
  color: #fd560a!important;
  font-size: 14px!important;
  font-weight: 600!important;
  background-color: transparent !important;
  padding: 0 !important;
}
.p3-learn__cta-btn-3 svg{
  fill:#fd560a !important;
}
.p3-learn__cta-btn-4 {
  display: none;
}
.p3-learn__cta-btn-1 svg{
  transition: all .4s ease-in-out;
  right: -9px;
  position: relative;
  fill:#fff !important
}
.p3-learn__cta-btn-1:hover svg{
  position: relative;
  right:-22px;
}
.p3-learn__cta-btn-2 svg{
  transition: all .4s ease-in-out;
  right: -9px;
  position: relative;
  fill:#000 !important
}
.p3-learn__cta-btn-2:hover svg{
  position: relative;
  right:-22px;
}
.p3-learn__cta-btn-3 svg{
  transition: all .4s ease-in-out;
  right: -9px;
  position: relative;
}
.p3-learn__cta-btn-3:hover svg{
  position: relative;
  right:-22px;
}
.p3-learn__cta {
  margin-bottom: 10px;
}
/* .map_button:hover:after {
right: 20px;
} */
@media only screen and (min-width: 480px) and (max-width: 768px){
  .cam-ine-1,
  .cam-ine-2,
  .cam_ine_align-2{
    gap: 40px;
    flex-direction: column;
  }
  .cam-ine-1,
  .cam-ine-2,
  .cam_ine_align-1 img,
  .cam_ine_align-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .bottom-vec img {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /*   .container-po #slider-wrap, 
  .container-po #wrapper{
  width: 100% !important;
} */
  .btns {
    padding: 8px;
  }
}
#wrapper{
  width:600px;
  margin:0px auto;
  height:400px;
  position:relative;
  color:#fff;
  text-shadow:rgba(0,0,0,0.1) 2px 2px 0px;	
}
#slider-wrap{
  width:600px;
  height:400px;
  position:relative;
  overflow:hidden;
}
#slider-wrap ul#slider{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;		
}
float:left;
position:relative;
width:600px;
height:400px;	
}
#slider-wrap ul#slider li img{
  width:100% !important;
  height:100% !important;
  object-fit:cover;
}
/*btns*/
.btns{
  display: flex;
  align-items: center;
  justify-content: center;
  position:absolute;
  width:30px;
  height:30px;
  top:50%;
  margin-top:-25px;
  text-align:center;
  cursor:pointer;	
  z-index:100;
  background-color:#FDB700;
  -webkit-user-select: none;  
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -ms-user-select: none;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
#next{right:10px;}
#previous{left:10px}
#counter{
  top: 30px; 
  right:35px; 
  width:auto;
  position:absolute;
  color:#FDB700;
}
/* #slider-wrap.active #next{right:0px;}
#slider-wrap.active #previous{left:0px;} */
/*bar*/
#pagination-wrap{
  display: none;
  min-width:20px;
  margin-top:350px;
  margin-left: auto; 
  margin-right: auto;
  height:15px;
  position:relative;
  text-align:center;
}
#pagination-wrap ul {
  width:100%;
}
#pagination-wrap ul li{
  margin: 0 4px;
  display: inline-block;
  width:5px;
  height:5px;
  border-radius:50%;
  background:#fff;
  opacity:0.5;
  position:relative;
  top:0;
  background-color:#FDB700; 
}
#pagination-wrap ul li.active{
  width:12px;
  height:12px;
  top:3px;
  opacity:1;
  box-shadow:rgba(0,0,0,0.1) 1px 1px 0px;	
}
/*ANIMATION*/
#slider-wrap ul, #pagination-wrap ul li{
  -webkit-transition: all 0.3s cubic-bezier(1,.01,.32,1);
  -moz-transition: all 0.3s cubic-bezier(1,.01,.32,1);
  -o-transition: all 0.3s cubic-bezier(1,.01,.32,1);
  -ms-transition: all 0.3s cubic-bezier(1,.01,.32,1);
  transition: all 0.3s cubic-bezier(1,.01,.32,1);	
}
@media only screen and (max-width: 480px) { 
  .cam-ine-1,
  .cam-ine-2,
  .cam_ine_align-2{
    gap: 40px;
    flex-direction: column;
  }
  .cam-ine-1,
  .cam-ine-2,
  .cam_ine_align-1 img,
  .cam_ine_align-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .cam-tsf h2 {
    font-size: 28px;
    line-height: normal;
  }
  .slider_image {
    height: 300px;
  }
}
.slideshow_container {
  display: block;
  height: 100%; 
}
.slider_image {
  display: none;
  height: 356px;
}
.slider_image img{
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}
.slideshow_container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  width: 100%;
}
.prev_btn, 
.next_btn {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FDB700;
}
.prev_btn {
  left: 10px !important;
}
.next_btn {
  right: 10px !important;
}
.next_btn img,
.prev_btn img{
  width: auto !important;
  height: auto !important;
}
.fadein {
  animation-name: fadein;
  animation-duration: 1.5s;
}
@keyframes fadein {
  from {opacity: .4} 
  to {opacity: 1}
}