<!--
  templateType: password_prompt_page
  isAvailableForNewContent: true
  label: Parkour - password prompt
  screenshotPath: ../../images/template-previews/password_prompt_img.png
-->
{% set template_css = "../../css/templates/system.css" %}
{% extends "../layouts/base-new.html" %}
{# pageTitle is used on system templates for setting a value for the title tag #}
{% set pageTitle = "This page is private | Enter password" %}
{% block body %}
<section class="content-wrapper">
  <div class="systems-page">
    <div class="email_prefer">
      <p class="p3-email__head">
        Email 
      </p>
      <p class="p3-email__subhead">Password
      </p>
    </div>
    <div class="p3-email__unsubs">
      {% module "content"
      path="@hubspot/rich_text",
      html="<h1>Password Required</h1><p>Please enter the password required to view this page.</p>"
    %}
      {% module "password_prompt"
      extra_classes="password-prompt",
      path="@hubspot/password_prompt"
    %}
    </div>
  </div>
</section>
{% endblock body %}
