.p3-text-image.image_right {
  flex-direction: row-reverse;
  padding:0px;
}
.p3-text-image_supertitle {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  font-family: 'Work Sans';
}

.p3-text-image_title {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  width:440px;
  font-family: 'Work Sans';
}

.p3-text-image_desc {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  max-width: 450px;
  margin-top:10px;
}

.p3-text-image_desc > *:last-child {
  margin-bottom: 0;
}

.p3-text-image_cta {
  display: flex;
  align-items: center;
  width:max-content;
  padding-top:10px;
}
.p3-text_link{
  margin-top:10px;
}
.p3-text-image_cta a {
  color: #63DA7B;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.p3-text-image_cta a svg {
  transition: 0.1s ease-in;
  margin-left: 5px;
}

.p3-text-image_cta:hover a svg {
  transform: translateX(50%);
}



.p3-text-image.image_right .p3-text_image {
  padding-right:100px !important;
  padding-left: calc(var(--bs-gutter-x)*.5);
}
.p3-image_text{
  display:flex;
  justify-content: center;
  align-items: center;

}
.p3-image_sec img{
  width: 100%;
  /*   height: 394px; */
}
.p3-icon__industext{
  display:flex;
  align-items:start;
  gap:20px;
  width:100%;
}
.p3-icon__industext span{
  width:395px;
  font-size:18px;
  line-height:1.5;
  font-weight:400;
  color:#114245;

}
.p3-icon__line{
  border-top: solid 1px #b5cdce;
  width:442px;
}
.p3-icon__group{
  display:flex;
  flex-direction:column;
  gap:15px
}
@media only screen and (max-width: 768px)  {
  .p3-image_sec img{
    object-fit:cover;
  }
  .p3-icon__line{
    border-top: solid 1px #b5cdce;
    width:100%;
  }
  .p3-image_sec{
    padding-right:5px;
  }
  .p3-image_sec img{
    width: 100%;
  }
}
@media only screen and (max-width: 640px)  {
  .p3-text_image{
    padding-left: 0;
  }
  .row{
    display:block;
  }
  .p3-image_sec{
    padding:0px;
  }
  .p3-text-image_title {
    width:100%;
  }
  .p3-text_link{
    margin-top:10px;
    margin-bottom:10px;
  }
  .p3-icon__industext span{
    width:100%;
    font-size:18px;
    line-height:1.5;
    font-weight:400;
    color:#114245;

  }
  .p3-icon__line{
    border-top: solid 1px #b5cdce;
    width:100%;
  }
  .p3-image_sec{
    margin-top:20px
  }
}

.daw_image,
.daw_video{
  display: none;
}

.image_enable .daw_image{
  display: block;
}
.video_enbale .daw_video{
  display: block;
}


