<div class="map_module_layout">
  <div class="projectListing">
    <div class="grid-google-banner" id="projectGoogleMap"></div>
    <button class="button button-orange button-open-map mobile-only">
      <span class="text">Open map</span>
      <span class="icon icon-arrow-right"></span>
    </button>
    <div class="project-infobox">
      <div id="projectInfobox">
        <img
             class="infobox-close"
             src="https://mktg.dawco.ca/hubfs/MapJs/close.png"
             width="14"
             height="14"
             />
        <span class="infobox-icon"></span>
        <div class="infobox-content">
          <p class="infobox-title"></p>
          <p class="infobox-location"></p>
          <a href="#" class="infobox-permalink link link-orange with-icon"
             ><span class="icon icon-arrow-right"></span>Learn more</a
            >
        </div>
        <div class="clearall"></div>
      </div>
    </div>
  </div>
  {% if module.show_vector_overlay %}
  <div class="bottom-vec">
    <img src="{{ get_asset_url('/Dawco-V2/images/bottom-vec-2.svg') }}" alt="vector">
  </div>
</div>
{% endif %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtw8icFTe6wFxCwEcR-YTgZKEc4kmmAyw&v=weekly"></script>
<script type="text/javascript" src="{{ get_asset_url('/Dawco-V2/js/require.js') }}"></script>
<script type="text/javascript" src="{{ get_asset_url('/Dawco-V2/js/app.js') }}"></script>
<script>
  var o = this;
  o.method = "projects";
  o.projectsLatLong = [
    {% for item in module.projects %}
      [
        "{{ item.project_name }}",
        "{{ item.project_city }}",
        "{{ item.project_url }}",
        "{{ item.project_latitude }}",
        "{{ item.project_longitude }}",
        "{{ item.project_icon }}",
      ],
    {% endfor %}
    [
      "Ericsson Global ICT Center",
      "Vaudreuil-Dorion (Quebec, Canada)",
      "https:\/\/www.dawco.ca\/en\/projects\/ericsson-global-ict-center",
      "45.404236",
      "-74.03795989999998",
      "commercial-institutional",
    ],
    
    [
      "Glycol Recycling Facility (YYC)",
      "Calgary (Alberta, Canada)",
      "https:\/\/www.dawco.ca\/en\/projects\/glycol-recycling-facility-yyc",
      "51.1257332",
      "-114.00171160000002",
      "infrastructure",
    ],
    [
      "Linde \/ Gaz M\u00e9tro - Module assembly",
      "Montreal (Quebec, Canada)",
      "https:\/\/www.dawco.ca\/en\/projects\/linde-gaz-metro-module-assembly",
      "45.643519",
      "-73.56046100000003",
      "oil-gas",
    ],
    [
      "Multi-trade Maintenance",
      "Fort McMurray (Alberta, Canada)",
      "https:\/\/www.dawco.ca\/en\/projects\/horizon-site-multi-trade-maintenance",
      "56.72598370000001",
      "-111.3789653",
      "oil-gas",
    ],
    [
      "Bridgestone - 2015 Renovation - Lot 1",
      "Joliette (Quebec, Canada)",
      "https:\/\/www.dawco.ca\/en\/projects\/bridgestone-2015-renovation-lot-1",
      "46.01401199999999",
      "-73.41779609999998",
      "infrastructure",
    ],
    [
      "Hydrogen Sulphide Unit",
      "Fort McMurray, Alberta, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/canadian-natural-resources-limited-cnrl-horizon-oil-sands-tecnicas-reunidas-hydrogen-sulphide-unit",
      "56.72664709999999",
      "-111.38083589999997",
      "oil-gas",
    ],
    [
      "AMT \u2013 New Pointe Saint-Charles maintenance workshop",
      "Montreal (Quebec, Canada)",
      "https:\/\/www.dawco.ca\/en\/projects\/amt-new-pointe-saint-charles-maintenance-workshop",
      "45.5016889",
      "-73.56725599999999",
      "commercial-institutional",
    ],
    [
      "\u00c9cole Polytechnique - Upgrades to various systems",
      "Montreal (Quebec, Canada)",
      "https:\/\/www.dawco.ca\/en\/projects\/ecole-polytechnique-upgrades-to-various-systems",
      "45.5016889",
      "-73.56725599999999",
      "commercial-institutional",
    ],
    [
      "Dorchester Penitentiary \u2013 Generator Replacement",
      "Dorchester (New Brunswick, Canada)",
      "https:\/\/www.dawco.ca\/en\/projects\/dorchester-penitentiary-generator-replacement",
      "45.900828",
      "-64.5169467",
      "commercial-institutional",
    ],
    [
      "Miramichi East School",
      "Miramichi (New Brunswick, Canada)",
      "https:\/\/www.dawco.ca\/en\/projects\/miramichi-east-school",
      "47.0295709",
      "-65.5059061",
      "commercial-institutional",
    ],
    [
      "Miramichi Regional Hospital - Replacement of 2 Emergency Generators",
      "Miramichi (New Brunswick, Canada)",
      "https:\/\/www.dawco.ca\/en\/projects\/miramichi-regional-hospital-replacement-of-2-emergency-generators",
      "47.0295709",
      "-65.5059061",
      "commercial-institutional",
    ],
    [
      "National Defence's Naval Engineering Test Establishment",
      "LaSalle (Quebec, Canada)",
      "https:\/\/www.dawco.ca\/en\/projects\/national-defences-naval-engineering-test-establishment",
      "45.4306269",
      "-73.63480149999998",
      "commercial-institutional",
    ],
    [
      "University of Montreal - Fire alarm system overhaul",
      "Montreal (Quebec, Canada)",
      "https:\/\/www.dawco.ca\/en\/projects\/university-of-montreal-fire-alarm-system-overhaul",
      "45.5016889",
      "-73.56725599999999",
      "commercial-institutional",
    ],
    [
      "Weir Canada - New Head Office",
      "Lasalle (Quebec, Canada)",
      "https:\/\/www.dawco.ca\/en\/projects\/weir-canada-new-head-office",
      "45.4306269",
      "-73.63480149999998",
      "commercial-institutional",
    ],
    [
      "Brigestone \u2013 2015 RENO \u2013 Lot 2",
      "Joliette (Quebec, Canada)",
      "https:\/\/www.dawco.ca\/en\/projects\/brigestone-2015-reno-lot-2-phase-3",
      "46.01401199999999",
      "-73.41779609999998",
      "commercial-institutional",
    ],
    [
      "Major Renovations to Fire Station #26",
      "Montreal (Quebec, Canada)",
      "https:\/\/www.dawco.ca\/en\/projects\/major-renovations-to-fire-station-26",
      "45.5016889",
      "-73.56725599999999",
      "commercial-institutional",
    ],
    [
      "Polyvalente W.A. Losier - Mid-Life Upgrade Phase 1",
      "Tracadie-Sheila (New Brunswick, Canada)",
      "https:\/\/www.dawco.ca\/en\/projects\/polyvalente-w-a-losier-mid-life-upgrade-phase-1",
      "47.512071",
      "-64.91208710000001",
      "commercial-institutional",
    ],
    [
      "The Power Generator Replacement Project at The H\u00f4pital de Rivi\u00e8re-Rouge",
      "Rivi\u00e8re-Rouge (Quebec, Canada)",
      "https:\/\/www.dawco.ca\/en\/projects\/the-power-generator-replacement-project-at-the-hopital-de-riviere-rouge",
      "46.4099419",
      "-74.87029580000001",
      "commercial-institutional",
    ],
    [
      "Institut Pinel - Fire Alarm System Replacement",
      "Montreal (Quebec, Canada)",
      "https:\/\/www.dawco.ca\/en\/projects\/fire-alarm-system-replacement",
      "45.5016889",
      "-73.56725599999999",
      "commercial-institutional",
    ],
    [
      "Alexandra Pier",
      "Montreal (Quebec, Canada)",
      "https:\/\/www.dawco.ca\/en\/projects\/suncor-skids",
      "45.5016889",
      "-73.56725599999999",
      "commercial-institutional",
    ],
    [
      "Suncor MR Swing Tank Modification",
      "Alberta, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/suncor-mr-swing-tank-modification",
      "57.1901544",
      "-111.67824640000003",
      "oil-gas",
    ],
    [
      "AML Cruise Ship Terminal  (Building)",
      "Canada, Quebec, Montreal",
      "https:\/\/www.dawco.ca\/en\/projects\/aml-cruise-ship-terminal-building",
      "45.5016889",
      "-73.56725599999999",
      "commercial-institutional",
    ],
    [
      "Montreal Biodome \u2013 Electrical Network Upgrade",
      "Canada, Quebec, Montreal",
      "https:\/\/www.dawco.ca\/en\/projects\/montreal-biodome-electrical-network-upgrade",
      "45.5016889",
      "-73.56725599999999",
      "commercial-institutional",
    ],
    [
      "Notre-Dame Church Refurbishment (Lot 3 \u2013 Construction)",
      "Canada, Quebec, Granby",
      "https:\/\/www.dawco.ca\/en\/projects\/notre-dame-church-refurbishment-lot-3-construction",
      "45.40322889999999",
      "-72.73406620000003",
      "commercial-institutional",
    ],
    [
      "Fortress Paper \u2013 Speciality Cellulose",
      "Canada, Quebec, Thurso",
      "https:\/\/www.dawco.ca\/en\/projects\/fortress-paper-speciality-cellulose",
      "45.59719279999999",
      "-75.24326869999999",
      "pulp-paper",
    ],
    [
      "CHU Sainte-Justine - Temporary 25kV Power System",
      "Canada, Quebec, Montreal",
      "https:\/\/www.dawco.ca\/en\/projects\/chu-sainte-justine-temporary-25kv-power-system",
      "45.5016889",
      "-73.56725599999999",
      "commercial-institutional",
    ],
    [
      "Norsk Hydro \u2013 Plant dismantling",
      "Canada, Quebec, Becancour",
      "https:\/\/www.dawco.ca\/en\/projects\/norsk-hydro-plant-dismantling",
      "46.3506215",
      "-72.43505519999997",
      "mining-metallurgy",
    ],
    [
      "Phase 2 Pilot - Next Gen Deoiling",
      "Canada, Alberta, Mackay River",
      "https:\/\/www.dawco.ca\/en\/projects\/phase-2-pilot-next-gen-deoiling",
      "57.1901544",
      "-111.67824640000003",
      "oil-gas",
    ],
    [
      "MIFFC Southwest Terminal Gate Expansion",
      "Canada, Quebec, Montreal",
      "https:\/\/www.dawco.ca\/en\/projects\/miffc-southwest-terminal-gate-expansion",
      "45.5016889",
      "-73.56725599999999",
      "infrastructure",
    ],
    [
      "Cogen",
      "Fort McMurray (Alberta, Canada)",
      "https:\/\/www.dawco.ca\/en\/projects\/cogen-2",
      "56.72598370000001",
      "-111.3789653",
      "oil-gas",
    ],
    [
      "Suncor Skids",
      "Fort McMurray (Alberta, Canada)",
      "https:\/\/www.dawco.ca\/en\/projects\/suncor-skids-2",
      "56.72637959999999",
      "-111.38034070000003",
      "oil-gas",
    ],
    [
      "Davie \u2013 Resolve Conversion Project - MV Asterix",
      "L\u00e9vis (Quebec, Canada)",
      "https:\/\/www.dawco.ca\/en\/projects\/davie-resolve-conversion-project-mv-asterix",
      "46.7382265",
      "-71.24645909999998",
      "infrastructure",
    ],
    [
      "MIFFC Trudeau fuel depot project",
      "Montreal (Quebec, Canada)",
      "https:\/\/www.dawco.ca\/en\/projects\/miffc-trudeau-fuel-depot-project",
      "45.5016889",
      "-73.56725599999999",
      "infrastructure",
    ],
    [
      "National Defence Longue-Pointe Garrison",
      "Montreal (Quebec, Canada)",
      "https:\/\/www.dawco.ca\/en\/projects\/national-defence-longue-pointe-garrison",
      "45.5016889",
      "-73.56725599999999",
      "commercial-institutional",
    ],
    [
      "Fort Hills Cogen Plant Support",
      "Fort Hills (Alberta, Canada)",
      "https:\/\/www.dawco.ca\/en\/projects\/fort-hills-cogen-plant-support",
      "57.3953005",
      "-111.57200560000001",
      "oil-gas",
    ],
    [
      "Manpower supply for the DRU\/VDU\/HSU",
      "Fort McMurray (Alberta, Canada)",
      "https:\/\/www.dawco.ca\/en\/projects\/manpower-supply-for-the-druvduhsu",
      "56.72598370000001",
      "-111.3789653",
      "oil-gas",
    ],
    [
      "FAM - Trains 4 & 5 Piping",
      "Fort McMurray (Alberta, Canada)",
      "https:\/\/www.dawco.ca\/en\/projects\/trains-4-5-piping",
      "56.72598370000001",
      "-111.3789653",
      "oil-gas",
    ],
    [
      "Area 30 Hydrogen Plant",
      "Fort McMurray (Alberta, Canada)",
      "https:\/\/www.dawco.ca\/en\/projects\/area-30-hydrogen-plant",
      "56.72598370000001",
      "-111.3789653",
      "oil-gas",
    ],
    [
      "TKIS SPP Train 4&5",
      "Fort McMurray (Alberta, Canada)",
      "https:\/\/www.dawco.ca\/en\/projects\/tkis-spp-train-45",
      "56.72598370000001",
      "-111.3789653",
      "oil-gas",
    ],
    [
      "Vacuum Distillation Units",
      "Fort McMurray (Alberta, Canada)",
      "https:\/\/www.dawco.ca\/en\/projects\/vacuum-distillation-units",
      "56.72598370000001",
      "-111.3789653",
      "oil-gas",
    ],
    [
      "Suncor Energy \u2013 Ammonia \/ NCG Co-Injection",
      "Mackay River, Alberta, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/suncor-energy-ammonia-ncg-co-injection",
      "57.190907",
      "-111.67583230000002",
      "oil-gas",
    ],
    [
      "Suncor Energy - CO2 tank for pad 24",
      "Mackay River, Alberta, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/suncor-energy-co2-tank-for-pad-24",
      "57.190907",
      "-111.67583230000002",
      "oil-gas",
    ],
    [
      "Suncor Energy - Mackay River MR1 Produced Gas Debottleneck",
      "Mackay River, Alberta, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/suncor-energy-mackay-river-mr1-produced-gas-debottleneck",
      "57.190907",
      "-111.67583230000002",
      "oil-gas",
    ],
    [
      "ArcelorMittal Mines Canada \u2013 Sludge Thickener",
      "Mount Wright, Quebec, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/arcelormittal-mines-canada-sludge-thickener",
      "52.75",
      "-67.35000000000002",
      "mining-metallurgy",
    ],
    [
      "Interquisa Canada \u2013 Terapthalic acid (PTA) plant",
      "Montreal, Quebec, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/interquisa-canada-terapthalic-acid-pta-plant",
      "45.620883",
      "-73.52039400000001",
      "petrochemicals-chemicals",
    ],
    [
      "Hydro-Qu\u00e9bec \u2013 Poste B\u00e9langer",
      "Montreal, Quebec, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/hydro-quebec-poste-belanger",
      "45.5730951",
      "-73.58553",
      "power-generation",
    ],
    [
      "Viterra \u2013 Montreal Terminal Dust Collection, Transport & Storage System",
      "Montreal, Quebec, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/viterra-montreal-terminal-dust-collection-transport-storage-system",
      "45.58623499999999",
      "-73.51011770000002",
      "infrastructure",
    ],
    [
      "Kruger Wayagamack Inc \u2013 Plant substation modification (power, control and distribution)",
      "Bromptonville, Quebec, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/kruger-wayagamack-inc-plant-substation-modification-power-control-and-distribution",
      "45.4798536",
      "-71.9618173",
      "pulp-paper",
    ],
    [
      "Irving \u2013 Modernization of naval shipyard",
      "Halifax, Nova Scotia, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/irving-modernization-of-naval-shipyard",
      "44.6488625",
      "-63.5753196",
      "infrastructure",
    ],
    [
      "Gazoduc Trans Qu\u00e9bec & Maritimes Inc. (TQM) \u2013 Lachenaie gas compressor station",
      "Lachenaie, Quebec, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/gazoduc-trans-quebec-maritimes-inc-tqm-lachenaie-gas-compressor-station",
      "45.716147",
      "-73.54710390000002",
      "oil-gas",
    ],
    [
      "Mosaic Potash \u2013 Potash Mine Processing Plant and Tailings Piping",
      "Colonsay, Saskatchewan, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/mosaic-potash-potash-mine-processing-plant-and-tailings-piping",
      "51.9770121",
      "-105.87445990000003",
      "mining-metallurgy",
    ],
    [
      "Petro-Canada \u2013 Diesel desulphurization unit",
      "Montreal, Quebec, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/petro-canada-diesel-desulphurization-unit",
      "45.6396717",
      "-73.5158346",
      "petrochemicals-chemicals",
    ],
    [
      "TransCanada Energy \u2013 Combined cycle cogeneration power plant",
      "B\u00e9cancour, Quebec, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/transcanada-energy-combined-cycle-cogeneration-power-plant",
      "46.3506215",
      "-72.43505519999997",
      "power-generation",
    ],
    [
      "Montreal International Fuel Facilities Corporation (MIFFC) \u2013 North Terminal Expansion",
      "Montreal, Quebec, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/montreal-international-fuel-facilities-corporation-miffc-north-terminal-expansion",
      "45.4697382",
      "-73.74491949999998",
      "infrastructure",
    ],
    [
      "Fortress Specialty Cellulose \u2013 Economizers Tube Replacement",
      "Thurso, Quebec, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/fortress-specialty-cellulose-economizers-tube-replacement",
      "45.59719279999999",
      "-75.24326869999999",
      "pulp-paper",
    ],
    [
      "Bombardier \u2013 Final Assembly Line",
      "Mirabel, Quebec, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/bombardier-final-assembly-line",
      "45.65189590000001",
      "-74.09016960000002",
      "commercial-institutional",
    ],
    [
      "Canaport LNG \u2013 Gas liquefaction Process Unit",
      "Saint John, New Brunswick, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/canaport-lng-gas-liquefaction-process-unit",
      "45.2733153",
      "-66.06330809999997",
      "oil-gas",
    ],
    [
      "Alumerie B\u00e9cancour \u2013 Plant upgrades",
      "B\u00e9cancour, Quebec, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/alumerie-becancour-plant-upgrades",
      "46.35143619999999",
      "-72.4369069",
      "mining-metallurgy",
    ],
    [
      "PTT Poly Canada \u2013 Polytrimethylene terephthalate (PTT) Plant",
      "Montreal, Quebec, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/ptt-poly-canada-polytrimethylene-terephthalate-ptt-plant",
      "45.63396650000001",
      "-73.51894170000003",
      "petrochemicals-chemicals",
    ],
    [
      "Upgrading and Utilities Maintenance",
      "Fort McMurray, Alberta, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/canadian-natural-resources-limited-cnrl-horizon-oil-sands-upgrading-and-utilities-maintenance",
      "56.72603208991547",
      "-111.37857913970947",
      "oil-gas",
    ],
    [
      "New Brunswick Power \u2013 Thermal Power Plant Conversion",
      "Coleson Cove, New Brunswick, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/new-brunswick-power-thermal-power-plant-conversion",
      "45.151199",
      "-66.20472740000002",
      "power-generation",
    ],
    [
      "Shell Canada \u2013 Gasoline and diesel desulphurization units",
      "Montreal, Quebec, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/shell-canada-gasoline-and-diesel-desulphurization-units",
      "45.6239947",
      "-73.52027450000003",
      "petrochemicals-chemicals",
    ],
    [
      "Mosaic Potash \u2013 K3 Esterhazy",
      "Esterhazy, Saskatchewan, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/mosaic-potash-k3-esterhazy",
      "50.6568523",
      "-102.0757792",
      "mining-metallurgy",
    ],
    [
      "Butane Treating Unit",
      "Fort McMurray, Alberta, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/canadian-natural-resources-limited-cnrl-horizon-oil-sands-butane-treating-unit",
      "56.727723",
      "-111.37935600000003",
      "oil-gas",
    ],
    [
      "Syncrude (Thyssen Krupp Industrial Services) \u2013 Mildred Lake Mine Replacement",
      "Mildred Lake, Alberta, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/syncrude-thyssen-krupp-industrial-services-mildred-lake-mine-replacement",
      "57.066841",
      "-112.56819899999999",
      "oil-gas",
    ],
    [
      "Lumen \u2013 Construction of a new distribution center",
      "Laval, Quebec, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/lumen-construction-of-a-new-distribution-center",
      "45.6066487",
      "-73.71240899999998",
      "commercial-institutional",
    ],
    [
      "Gazoduc Trans Qu\u00e9bec & Maritimes Inc. (TQM) \u2013 East Hereford compressor station",
      "East Hereford, Quebec, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/gazoduc-trans-quebec-maritimes-inc-tqm-east-hereford-compressor-station",
      "45.079258",
      "-71.493021",
      "oil-gas",
    ],
    [
      "Delayed Coker Unit",
      "Fort McMurray, Alberta, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/canadian-natural-resources-limited-cnrl-horizon-oil-sands-delayed-coker-unit",
      "56.72771",
      "-111.38259",
      "oil-gas",
    ],
    [
      "Praxair \u2013 Storage tank relocation",
      "Montreal, Quebec, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/praxair-storage-tank-relocation",
      "45.6305971",
      "-73.54422729999999",
      "oil-gas",
    ],
    [
      "Suncor Energy - Debottlenecking",
      "Mackay River, Alberta, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/suncor-energy-deblottlenecking",
      "57.2060027",
      "-111.68595620000002",
      "oil-gas",
    ],
    [
      "Gas Recovery Unit",
      "Fort McMurray, Alberta, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/canadian-natural-resources-limited-cnrl-horizon-oil-sands-gas-recovery-unit",
      "56.72804799999999",
      "-111.37747300000001",
      "oil-gas",
    ],
    [
      "Multisports center in Vaudreuil-Dorion",
      "Vaudreuil-Dorion, Quebec, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/multisports-center-in-vaudreuil-dorion",
      "45.404236",
      "-74.03795989999998",
      "commercial-institutional",
    ],
    [
      "Aluminerie Alouette \u2013 Smelter Expansion",
      "Sept-\u00celes, Quebec, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/aluminerie-alouette-smelter-expansion",
      "50.21329679999999",
      "-66.37579210000001",
      "mining-metallurgy",
    ],
    [
      "Agence M\u00e9tropolitaine de Transport \u2013 Traction rectifiers for the Montreal subway system",
      "Laval, Quebec, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/agence-metropolitaine-de-transport-traction-rectifiers-for-the-montreal-subway-system",
      "45.5575692",
      "-73.72153809999998",
      "infrastructure",
    ],
    [
      "Newington Energy \u2013 Thermal power plant with cogeneration (550MW)",
      "Newington, Connecticut, United States",
      "https:\/\/www.dawco.ca\/en\/projects\/newington-energy-thermal-power-plant-with-cogeneration-550mw",
      "41.6972996",
      "-72.7228293",
      "power-generation",
    ],
    [
      "Imperial Oil (Thyssen Krupp) \u2013 Kearl Lake",
      "Kearl Lake, Alberta, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/imperial-oil-thyssen-krupp-kearl-lake",
      "57.2910251",
      "-111.23813940000002",
      "oil-gas",
    ],
    [
      "Syncrude (ABB and Siemens) - Modular e-house",
      "Edmonton, Alberta, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/syncrude-abb-and-siemens-modular-e-house",
      "53.544389",
      "-113.49092669999999",
      "oil-gas",
    ],
    [
      "Primary Upgrader",
      "Fort McMurray, Alberta, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/canadian-natural-resources-limited-cnrl-horizon-oil-sands-technip-primary-upgrader",
      "56.727625",
      "-111.38039700000002",
      "oil-gas",
    ],
    [
      "Smurfit-Stone \u2013 Annual plant shutdowns",
      "Portage-du-Fort, Quebec, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/smurfit-stone-annual-plant-shutdowns",
      "45.593286",
      "-76.66013099999998",
      "pulp-paper",
    ],
    [
      "Early pump house",
      "",
      "https:\/\/www.dawco.ca\/en\/projects\/canadian-natural-resources-limited-cnrl-horizon-oil-sands-early-pump-house",
      "56.726527",
      "-111.38249100000002",
      "oil-gas",
    ],
    [
      "Expansion of commercial sector and VIP lounges - Lot 3",
      "Dorval, Qu\u00e9bec, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/expansion-of-commercial-sector-and-vip-lounges-lot-3",
      "45.4503213",
      "-73.75004849999999",
      "commercial-institutional",
    ],
    [
      "Debottlenecking 2014",
      "Fort McMurray, Alberta, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/canadian-natural-resources-limited-cnrl-horizon-oil-sands-deblottlenecking-2014",
      "56.727066",
      "-111.37678599999998",
      "oil-gas",
    ],
    [
      "New maximum-security unit, Atlantic facilities",
      "Renous, New Brunswick, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/new-maximum-security-unit-atlantic-facilities",
      "46.814138",
      "-65.79839600000003",
      "commercial-institutional",
    ],
    [
      "Enerkem \u2013 Cellulosic Ethanol pilot plant",
      "Westbury, Quebec, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/enerkem-cellulosic-ethanol-pilot-plant",
      "45.505204",
      "-71.661563",
      "petrochemicals-chemicals",
    ],
    [
      "Rio Tinto Alcan \u2013 AP60 plant",
      "Jonqui\u00e8re, Quebec, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/rio-tinto-alcan-ap60-plant",
      "48.423604",
      "-71.23954630000003",
      "mining-metallurgy",
    ],
    [
      "Merck \u2013 Building expansion (South end)",
      "Kirkland, Quebec, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/merck-building-expansion-south-end",
      "45.4560415",
      "-73.86233370000002",
      "commercial-institutional",
    ],
    [
      "Hydro-Qu\u00e9bec \u2013 Beauharnois Generating Station",
      "Beauharnois, Quebec, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/hydro-quebec-beauharnois-generating-station",
      "45.3150817",
      "-73.87790330000001",
      "power-generation",
    ],
    [
      "Cit\u00e9 Nature - Phase III",
      "Montreal, Quebec, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/cite-nature-phase-iii",
      "45.5726044",
      "-73.5576173",
      "commercial-institutional",
    ],
    [
      "Magnola \u2013 Magnola Plant",
      "Asbestos, Quebec, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/magnola-magnola-plant",
      "45.7741034",
      "-71.93671970000003",
      "mining-metallurgy",
    ],
    [
      "Kruger Wayagamack Inc \u2013 Wayagamack paper machines 2 & 3",
      "Trois-Rivi\u00e8res, Quebec, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/kruger-wayagamack-inc-wayagamack-paper-machines-2-3",
      "46.3432397",
      "-72.5432834",
      "pulp-paper",
    ],
    [
      "University of Montreal \u2013 Emergency panel upgrade - Thermal power station (512)",
      "Montreal, Quebec, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/university-of-montreal-emergency-panel-upgrade-thermal-power-station-512",
      "45.5027205",
      "-73.61523219999998",
      "commercial-institutional",
    ],
    [
      "Renovation of Dalhousie train station",
      "Old Montreal, Quebec, Canada",
      "https:\/\/www.dawco.ca\/en\/projects\/renovation-of-dalhousie-train-station",
      "45.5114999",
      "-73.55146919999999",
      "commercial-institutional",
    ],
  ];
  o.googleMapIconPath =
    "https://www.dawco.ca/content/themes/dcma-website/assets/images/google-map/";
  o.mobileMapButtonTriggerTextOpen = "Open map";
  o.mobileMapButtonTriggerTextClose = "Close map";
</script>