{% require_css %}
<style>
  .{{ name }}.p3_team__section {
    background-color: rgba( {{ module.style.background_color.color.color|convert_rgb }}, {{ module.style.background_color.color.opacity * 0.01 }} );
    {{ module.style.desktop_spacing.spacing.css }};
  }

  @media only screen and (max-width: 767px) {
    .{{ name }}.p3_team__section {
      {{ module.style.mobile_spacing.spacing.css }};
    }
  }

  @media (min-width:768px) and (max-width: 1024px) {
    .{{ name }}.p3_team__section {
      {{ module.style.tab_spacing.spacing.css }};
    }
  }
</style>
{% end_require_css %}

<div class="{{ name }} p3_case__section" {% if module.want_to_add_an_anchor_id %} id="{{ module.anchor_id }}" {% endif %}>
  <div class="container">
    <h4 class="p3-case__title">
      {{ module.study_title }}
    </h4>
    <div class="p3_team__content">
      <div class="p3_team__details {{ module.team.card_alignment }}">
        {% for item in module.team.cards %}
        <div class="p3_team__cards">
          <div class="p3_team__description p3-card__layout">
            <div class="p3_case__image">
              {% if item.select_an_image.src %}
              {% set sizeAttrs = 'width="{{ item.select_an_image.width }}" height="{{ item.select_an_image.height }}"' %}
              {% if item.select_an_image.size_type == 'auto' %}
              {% set sizeAttrs = 'width="{{ item.select_an_image.width }}" height="{{ item.select_an_image.height }}" style="max-width: 100%; height: auto;"' %}
              {% elif item.select_an_image.size_type == 'auto_custom_max' %}
              {% set sizeAttrs = 'width="{{ item.select_an_image.max_width }}" height="{{ item.select_an_image.max_height }}" style="max-width: 100%; height: auto;"' %}
              {% endif %}
              {% set loadingAttr = item.select_an_image.loading != 'disabled' ? 'loading="{{ item.select_an_image.loading }}"' : '' %}
              <img src="{{ item.select_an_image.src }}" alt="{{ item.select_an_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
              {% endif %}
            </div>
            <div class="p3_case__text">
              {{ item.description }}
              <div class="p3-case__line">

              </div>
              <div class="p3-case__link">
                {% set href = item.bio_link.url.href %}
                {% if item.bio_link.url.type is equalto "EMAIL_ADDRESS" %}
                {% set href = "mailto:" + href %}
                {% endif %}
                <a href="{{ href }}"download
                   {% if item.bio_link.open_in_new_tab %}target="_blank"{% endif %}
                   {% if item.bio_link.rel %}rel="{{ item.bio_link.rel }}"{% endif %}
                  >
                  {{ item.bio_text }}
                </a>

                <div class="p3_team__btn_link">
                  {% set href = item.download.link.url.href %}
                  {% if item.download.link.url.type is equalto "EMAIL_ADDRESS" %}
                  {% set href = "mailto:" + href %}
                  {% endif %}
                  <a href="{{ href }}"download
                     {% if item.download.link.open_in_new_tab %}target="_blank"{% endif %}
                     {% if item.download.link.rel %}rel="{{ item.download.link.rel }}"{% endif %}
                     >
                    {% if item.download.select_an_image.src %}
                    {% set sizeAttrs = 'width="{{ item.download.select_an_image.width }}" height="{{ item.download.select_an_image.height }}"' %}
                    {% if item.download.select_an_image.size_type == 'auto' %}
                    {% set sizeAttrs = 'width="{{ item.download.select_an_image.width }}" height="{{ item.download.select_an_image.height }}" style="max-width: 100%; height: auto;"' %}
                    {% elif item.download.select_an_image.size_type == 'auto_custom_max' %}
                    {% set sizeAttrs = 'width="{{ item.download.select_an_image.max_width }}" height="{{ item.download.select_an_image.max_height }}" style="max-width: 100%; height: auto;"' %}
                    {% endif %}
                    {% set loadingAttr = item.download.select_an_image.loading != 'disabled' ? 'loading="{{ item.download.select_an_image.loading }}"' : '' %}
                    <img src="{{ item.download.select_an_image.src }}" alt="{{ item.download.select_an_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                    {% endif %}

                  </a>
                </div>

              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <!--     <div class="p3_team__cta {{ module.want_button }}">
      {% set href = module.button.button_link.url.href %}
      {% if module.button.button_link.url.type is equalto "EMAIL_ADDRESS" %}
      {% set href = "mailto:" + href %}
      {% endif %}
      <a class="{{ module.button_style }}" href="{{ href }}"
         {% if module.button.button_link.open_in_new_tab %}target="_blank"{% endif %}
         {% if module.button.button_link.rel %}rel="{{ module.button.button_link.rel }}"{% endif %}
         >
        {{ module.button.button_text }}
      </a>
    </div> -->
  </div>
</div>