{% if module.rss_feed_type == "external" %}
{% set feed_source = "{is_external=True, rss_url='"~module.rss_url~"', content_group_id=''}" %}
{% set is_external = true %}
{% elif module.rss_feed_type == "blog" %}
{% set feed_source = "{is_external=False, content_group_id='" ~ module.content_group_id ~ "', rss_url=''}" %}
{% set is_external = false %}
{% endif %}

{% set blog = blog_by_id(module.content_group_id) %}
{% require_css %}
<style>
  {% scope_css %}
  .p3-learn__cta {
    margin-bottom: 0;
  }
  {% end_scope_css %}
</style>
{% end_require_css %}

<div class="rss_spacing {{ module.rss_background }}" style="{{ module.style.rss_spacing.css }}">
  {% rss_listing
    publish_date_text="{{ module.publish_date_text }}",
    rss_url="{{ module.rss_url }}",
    is_external="{{ is_external }}",
     show_date="{{ module.show_date }}",
    content_group_id="{{ module.content_group_id }}",
    include_featured_image="{{ module.include_featured_image }}",
    publish_date_format="{{ module.publish_date_format }}",
    publish_date_language="{{ blog.dateFormattingLanguage }}",
    show_detail="{{ module.show_detail }}",
    show_author="{{ module.show_author }}",
    number_of_items="{{ module.number_of_items }}",
    title="{{ module.blog_title }}",
    limit_to_chars="{{ module.limit_to_chars|truncatehtml(100) }}",
    click_through_text="{{ module.click_through_text }}",
    attribution_text="{{ module.attribution_text }}",
    topic_id="{{ module.topic_id }}"
    feed_source="{{ feed_source }}"
    blog_category="{{ module.blog_category }}"
%}
</div>
{% if module.button_group %}
<div class="button_group">
  {% if module.button_hide %}
  {% if module.button_option %}
  <div class="p3-learn__cta">
    {% set href = module.learn_more_cta.learn_more_link.url.href %}
    {% if module.learn_more_cta.learn_more_link.url.type is equalto "EMAIL_ADDRESS" %}
    {% set href = "mailto:" + href %}
    {% endif %}
    <a href="{{ href }}" class="hs-button primary p3-learn__cta-btn-{{ module.learn_more_cta.cta_style }}"
       {% if module.learn_more_cta.learn_more_link.open_in_new_tab %}target="_blank"{% endif %}
       {% if module.learn_more_cta.learn_more_link.rel %}rel="{{ module.learn_more_cta.learn_more_link.rel }}"{% endif %}
       >
      {{ module.learn_more_cta.learn_more_text }}<svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" fill="#fd560a">
      <path d="M0.902685 5.65855H8.25863L5.04493 8.87224C4.7881 9.12908 4.7881 9.55054 5.04493 9.80738C5.30176 10.0642 5.71665 10.0642 5.97348 9.80738L10.3133 5.46757C10.5701 5.21073 10.5701 4.79585 10.3133 4.53902L5.98006 0.192624C5.72323 -0.0642081 5.30835 -0.0642081 5.05152 0.192624C4.79468 0.449457 4.79468 0.86434 5.05152 1.12117L8.25863 4.34146H0.902685C0.540486 4.34146 0.244141 4.6378 0.244141 5C0.244141 5.3622 0.540486 5.65855 0.902685 5.65855Z" fill=""/>
      </svg>
    </a>
  </div>
  {% endif %}

  <div class="p3-learn__cta">
    {% set href = module.post_learn_more_cta.learn_more_link.url.href %}
    {% if module.post_learn_more_cta.learn_more_link.url.type is equalto "EMAIL_ADDRESS" %}
    {% set href = "mailto:" + href %}
    {% endif %}
    <a href="{{ href }}" class="hs-button primary p3-learn__cta-btn-{{ module.post_learn_more_cta.cta_style }}"
       {% if module.post_learn_more_cta.learn_more_link.open_in_new_tab %}target="_blank"{% endif %}
       {% if module.post_learn_more_cta.learn_more_link.rel %}rel="{{ module.post_learn_more_cta.learn_more_link.rel }}"{% endif %}
       >
      {{ module.post_learn_more_cta.learn_more_text }}<svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" fill="#fd560a">
      <path d="M0.902685 5.65855H8.25863L5.04493 8.87224C4.7881 9.12908 4.7881 9.55054 5.04493 9.80738C5.30176 10.0642 5.71665 10.0642 5.97348 9.80738L10.3133 5.46757C10.5701 5.21073 10.5701 4.79585 10.3133 4.53902L5.98006 0.192624C5.72323 -0.0642081 5.30835 -0.0642081 5.05152 0.192624C4.79468 0.449457 4.79468 0.86434 5.05152 1.12117L8.25863 4.34146H0.902685C0.540486 4.34146 0.244141 4.6378 0.244141 5C0.244141 5.3622 0.540486 5.65855 0.902685 5.65855Z" fill=""/>
      </svg>
    </a>
  </div>

  {% endif %}
</div>
{% endif %}



