
<section class="p3-hero-banner__wrapper">
  <div class="p3-hero-banner__inner">
    <div class="p3-hero-banner__bg">
      {% if module.p3_home_hero_supertitle_arriere_plan.p3_home_hero_bg == "video" %}
      {% if module.p3_home_hero_supertitle_arriere_plan.p3_home_hero_bg_video.player_id %}
      {% set max_width = module.p3_home_hero_supertitle_arriere_plan.p3_home_hero_bg_video.size_type == 'auto_custom_max' ? module.p3_home_hero_supertitle_arriere_plan.p3_home_hero_bg_video.max_width : module.p3_home_hero_supertitle_arriere_plan.p3_home_hero_bg_video.width %}
      {% set max_height = module.p3_home_hero_supertitle_arriere_plan.p3_home_hero_bg_video.size_type == 'auto_custom_max' ? module.p3_home_hero_supertitle_arriere_plan.p3_home_hero_bg_video.max_height : module.p3_home_hero_supertitle_arriere_plan.p3_home_hero_bg_video.height %}
      {% video_player "embed_player"
            player_id={{ module.p3_home_hero_supertitle_arriere_plan.p3_home_hero_bg_video.player_id }}
            type={{ mo
            dule.p3_home_hero_supertitle_arriere_plan.p3_home_hero_bg_video.player_type || 'scriptV4' }}
            full_width={{ module.p3_home_hero_supertitle_arriere_plan.p3_home_hero_bg_video.size_type == 'auto_full_width' }},
            conversion_asset={{ module.p3_home_hero_supertitle_arriere_plan.p3_home_hero_bg_video.conversion_asset|tojson|safe }}
            autoplay={{ module.p3_home_hero_supertitle_arriere_plan.p3_home_hero_bg_video.autoplay }}
            hidden_controls={{ module.p3_home_hero_supertitle_arriere_plan.p3_home_hero_bg_video.hide_controls }}
            loop={{ module.p3_home_hero_supertitle_arriere_plan.p3_home_hero_bg_video.loop_video }}
            muted={{ module.p3_home_hero_supertitle_arriere_plan.p3_home_hero_bg_video.mute_by_default }}
          %}
      {% endif %}
      {% endif%}

      {% if module.p3_home_hero_supertitle_arriere_plan.p3_home_hero_bg == "couleur" %}
      <div class="p3-hero-banner__bg__color" style="background-color:{{ module.p3_home_hero_supertitle_arriere_plan.p3_home_hero_bg_color.color }}; opacity:{{ module.p3_home_hero_supertitle_arriere_plan.p3_home_hero_bg_color.opacity }};"></div>
      {% endif%}
    </div>
    <div class="p3-hero-banner__content">
      {% if module.texte.p3_home_hero_supertitle %}
      <p class="p3-hero-banner__surtitle">{{ module.texte.p3_home_hero_supertitle }}</p>
      {% endif %}

      {% if module.texte.p3_home_hero_title %}
      <div class="p3-hero-banner__title">{{ module.texte.p3_home_hero_title }}</div>
      {% endif %}

      {% if module.texte.p3_home_hero_subtitle %}
      <p class="p3-hero-banner__undertitle">{{ module.texte.p3_home_hero_subtitle }}</p>
      {% endif %}
      {% if module.button_show_hide %}
      <div class="p3-hero-banner__buttons">
        <div class="p3-bannerbtn_1">
          {% if module.bouton_1.p3_home_hero_btn_1.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
          {% endif %}
          <a href="{{ href }}" class="p3-banner__btn-{{ module.bouton_1.p3_home_hero_btn_1_style }}"
             {% if module.bouton_1.p3_home_hero_btn_1.open_in_new_tab %}target="_blank"{% endif %}
             {% if module.bouton_1.p3_home_hero_btn_1.rel %}rel="{{ module.bouton_1.p3_home_hero_btn_1.rel }}"{% endif %}
             >
            {{ module.bouton_1.p3_home_hero_btn_1_texte }}
          </a></div> 

        <div class="p3-bannerbtn_2">  
          {% if module.bouton_2.p3_home_hero_btn_2.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
          {% endif %}
          <a href="{{ href }}" class="p3-banner__btn-{{ module.bouton_2.p3_home_hero_btn_2_style }}"
             {% if module.bouton_2.p3_home_hero_btn_2.open_in_new_tab %}target="_blank"{% endif %}
             {% if module.bouton_2.p3_home_hero_btn_2.rel %}rel="{{ module.bouton_2.p3_home_hero_btn_2.rel }}"{% endif %}
             >
            {{ module.bouton_2.p3_home_hero_btn_2_texte }}
          </a></div> 
        <div class="p3-bannerbtn_3">   
          {% if module.bouton_3.p3_home_hero_btn_3.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
          {% endif %}
          <a href="{{ href }}" class="p3-banner__btn-{{ module.bouton_3.p3_home_hero_btn_3_style }}"
             {% if module.bouton_3.p3_home_hero_btn_3.open_in_new_tab %}target="_blank"{% endif %}
             {% if module.bouton_3.p3_home_hero_btn_3.rel %}rel="{{ module.bouton_3.p3_home_hero_btn_3.rel }}"{% endif %}
             >
            {{ module.bouton_3.p3_home_hero_btn_3_texte }}
          </a></div> 
      </div>
      {% endif %}
    </div>
  </div>
  {# CARDS #}
  {% if module.p3_home_hero_cards %}
  <div class="p3-hero-banner__cards">
    <div class="p3-hero-banner__cards_section">
      {% for item in module.cards %}
      {% set card_href = item.p3_home_hero_cards_link.url.href %}
      {% if item.p3_home_hero_cards_link.url.type is equalto "EMAIL_ADDRESS" %}
      {% set card_href = "mailto:" + href %}
      {% endif %}

      <a href="{{ card_href }}" class="p3-hero-banner__cards_card d-flex flex-column justify-content-between align-items-start"
         {% if item.p3_home_hero_cards_link.open_in_new_tab %}target="_blank"{% endif %}
         {% if item.p3_home_hero_cards_link.rel %}rel="{{ item.p3_home_hero_cards_link.rel }}"{% endif %}
         >

        {% if item.p3_home_hero_cards_img.src %}
        <img src="{{ item.p3_home_hero_cards_img.src }}" class="p3-hero-banner__cards_card_image" alt="{{ item.p3_home_hero_cards_img.alt }}" {{ loadingAttr }} {{ sizeAttrs }} lazy>
        {% endif %}

        <div class="p3-hero-banner__cards_card_title">{{ item.p3_home_hero_cards_title }}</div>
      </a>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</section>
{% require_css %}
<style>
  {% scope_css %}
  {#
    .p3-hero-banner__content {
      max-width: {{ theme.spacing.maximum_content_width ~ 'px' }};
    }
    #}

  .p3-hero-banner__inner {
    {% if module.p3_home_hero_cards %}
    height: calc(100% - 256px);
    {% else %}
    /*       height: 100%; */
    {% endif %}
  }

  .p3-hero-banner__cards_card_image {
    border-bottom: 4px solid {{ theme.global_colors.secondary.color }};
  }

  .p3-hero-banner__cards_card_title {
    color: {{ theme.global_colors.primary.color }};
  }

  .p3-hero-banner__cards_card:hover {
    background-color: {{ theme.global_colors.secondary.color }};
  }
  .p3-bannerbtn_1{

    {% if module.Style.left_button_style.button_background_color.color  %}
    background-color:rgba({{ module.Style.left_button_style.button_background_color.color|convert_rgb }},
      {{ module.Style.left_button_style.button_color.opacity }});
    {% endif %}
    {{ module.Style.left_button_style.border.css }};
    {% if module.Style.left_button_style.border_radius >= 0 %}
    border-radius: {{ module.Style.left_button_style.border_radius ~ "px" }};
    {% endif %}
    {{ module.Style.left_button_style.button_spacing.css }};
    {% if module.Style.left_button_style.button_font.size  %}
    font-size: {{ module.Style.left_button_style.button_font.size ~ module.Style.left_button_style.button_font.size_unit }};
    {% endif %}
    {% if module.Style.left_button_style.button_font.style%}
    {{ module.Style.left_button_style.button_font.style }};
    {% endif %}
    {% if module.Style.left_button_style.button_font.color %}
    color:{{ module.Style.left_button_style.button_font.color }};
    {% endif %}
  }
  .p3-bannerbtn_1:hover{
    {% if module.Style.left_button_style.hover_color.color %}
    background-color:{{ module.Style.left_button_style.hover_color.color }}
      {% endif %}
  }
  .p3-bannerbtn_1 a{
    {% if module.Style.left_button_style.button_font.color %}
    color:{{ module.Style.left_button_style.button_font.color }}
      {% endif %}
  }

  .p3-bannerbtn_2{

    {{ module.Style.right_button_styles.border.css }};
    {% if module.Style.right_button_styles.border_radius >= 0 %}
    border-radius: {{ module.Style.right_button_styles.border_radius ~ "px" }};
    {% endif %}
    {{ module.Style.right_button_styles.button_spacing.css }};
    {% if module.Style.right_button_styles.button_font.size %}
    font-size: {{ module.Style.right_button_styles.button_font.size ~ module.Style.right_button_styles.button_font.size_unit }};
    {% endif %}
    {% if module.Style.right_button_styles.button_font.style%}
    {{ module.Style.right_button_styles.button_font.style }};
    {% endif %}
    {% if module.Style.right_button_styles.button_font.color %}
    color:{{ module.Style.right_button_styles.button_font.color }};
    {% endif %}
  }
  .p3-bannerbtn_2:hover{
    {% if module.Style.right_button_styles.hover_color.color %}
    background-color:{{ module.Style.right_button_styles.hover_color.color }}
      {% endif %}
  }
  .p3-bannerbtn_2 a{
    {% if module.Style.right_button_styles.button_font.color %}
    color:{{ module.Style.right_button_styles.button_font.color }}
      {% endif %}
  }
  .p3-hero-banner__surtitle{
    color:{{ module.Style.surtitre.police_du_surtitre.color }};
    font-family: {{ module.Style.surtitre.police_du_surtitre.font }};{{ module.Style.surtitre.police_du_surtitre.style }};
    font-size: {{ module.Style.surtitre.police_du_surtitre.size }}{{module.Style.surtitre.police_du_surtitre.size_unit }}
  }
  .p3-hero-banner__title h1{
    color:{{ module.Style.hero_heading_color.color }}
  }
  @media (max-width: 1024px) {    
    .p3-hero-banner__cards_card {
      {% if module.cards|length == 4 %}
      flex: 1 0 25%;
      {% elif module.cards|length == 2 %}
      flex: 1 0 50%;
      {% elif module.cards|length == 1 %}
      flex: 1;
      {% else %}
      flex: 1 0 33%;
      {% endif %}
    }
  }


  .p3-hero-banner__gradient {
    background: {{ module.Style.p3_home_hero_gradients.css }};
  }
  {% end_scope_css %}
</style>
{% end_require_css %}